{% extends 'base.html' %}

{% block content %}
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3>Request to reset password</h3>
                <p>Please specify your email address to receive instructions for resetting it.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br/>
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </form>
            </div>
        </div>
    <br>
    <br>


{% endblock %}