html,
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Oswald', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a:focus{
	text-decoration:none;
	outline: none;
}
.bold {
	font-weight: bold;
}
/*--navigation bar--*/
.navbar {
	background-color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}
.navbar img {
    padding-right: 15px;
}
.navbar-header a {
	text-decoration: none;
	font-size: 1.5em;
}
/*--button--*/
.btn {
    background: #506B7B;
    padding: 0.3em 1.8em;
	margin: 0.7em 0 0.3em 0;
	display:inline-block;
    color: #fff;
}
/*--carousel slide--*/
.carousel-caption > h3 {
  display: inline-block;
  padding: 10px;
  background: #506B7B;
  opacity: 0.7;
  border-radius: 5px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
/*--/carousel slide--*/

/*-- Thailand Fast Facts --*/
.fast-facts-grd {
    text-align: center;
    padding: 10px 0;
}
.fast-facts-grd img {
    padding-left: 140px;
}
.fast-facts-grd h4 {
	padding-top: 5px;
    font-size: 20px;
    color: #303030;
    font-weight: 700;
    margin: 20px 0;
}
.fast-facts-grd p{
	font-size:1em;
	color:#9c9c9c;
	line-height:1.8em;
}
.fast-facts-grids{
	margin:3em 0 0;
}
.fast-facts h3 {
	font-size: 40px;
    text-align: center;
    padding-top: 30px;
}
/*-- //Thailand Fast Facts --*/


/*-- Places to visit --*/

.places-to-visit {
	padding: 30px 0;
}
.places-to-visit h3 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 40px;
	color: #000;
}
.places-to-visit .grid-wrap {
	margin: 0 auto;
	width: 100%;
	padding: 0;
	text-align: justify;
}
.places-to-visit .grid {
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.places-to-visit .grid figure {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.places-to-visit .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	padding: 0;
	width: 32.4%;
	margin: 5px;
}

.places-to-visit .grid figure img {
	position: relative;
	display: block;
}
.places-to-visit .grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.places-to-visit .grid figure figcaption p {
	padding: 2em;
	color: #fff;
	font-size: 0.8em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.places-to-visit .grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.places-to-visit .grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.places-to-visit figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.55);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.places-to-visit figure.effect-zoe h4 {
	text-align: center;
	font-size: 35px;
	color: #FFF;
	margin-top: 3.4em;
}
.places-to-visit figure.effect-zoe h4 {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}
.places-to-visit figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h4 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.places-to-visit figure.effect-zoe:hover h4 {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
/*-- //Places to visit --*/

/*-- Footer --*/

.footer {
    background: #303030;
    padding: 3em 0;
    margin-top: 3em;
}
.footer h6 {
    font-size: 1.7em;
    background: #506B7B;
    padding: 0.5em 1.7em;
    font-weight: 700;
    color: #fff;
}
.footer p {
    font-size: 0.875em;
    color: #fff;
    margin: 1em 0;
    line-height: 1.8em;
}
.footer-middle p {
    margin: 0;
}
.footer h4 {
    font-size: 1.7em;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.mid-bottom {
    margin-bottom: 10px;
	margin-top: 20px;
}
.footer-right li a {
    color: #fff;
    font-size: 0.875em;
    line-height: 1.8em;
}
.footer-right li a:hover{
    color: #506B7B;
}
.footer-right li {
	display:block;
}
.details  form input[type="text"] {
  width: 100%;
  color: #333333 ! important;
  outline: none;
  font-size: 16px;
  padding: .5em;
  border: none;
  -webkit-appearance: none;
  margin-bottom:0.5em;
  font-family: 'Open Sans', sans-serif;
}
.details form input[type="submit"] {
  background:#506B7B;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.details form input[type="submit"]:hover{
	background:#000000;
}
.copyright {
    background:#0a0a0a;
    padding: 1em 0;
    text-align: center;
}
.copyright p {
    font-size: 0.875em;
    color: #ffffff;
    line-height: 1.8em;
}

/*--//footer--*/

/*--about--*/
.about {
	position: relative;
	padding: 30px 0;
}
.about-title {
	color: #000000;
	font-size: 2.8em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.2em;
}
.banner_bottom_right {
	width: 41%;
	position: absolute;
	z-index: 999;
	top: 33.6%;
	left: 5%;
	box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.banner_bottom_left {
	text-align: left;
	float: right;
	padding: 6em 7em 6em 10em;
	background: #1d1d1d;
}
.banner_bottom_left h3 {
	font-size: 1.3em;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 1em;
	text-transform: capitalize;
}
.callbacks_container {
	position: relative;
	float: none;
	text-align: center;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.banner {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 375px;
}
#slider li {
	text-decoration: none;
}

.banner-text4 {
	background: #fff;
	padding-top: 8px;
}

.banner-text4 iframe {
	width: 100%;
	height: 360px;
	border: none;
}
p.para-agileits {
	font-size: 16px;
	color: #777;
	line-height: 1.8em;
}

.content-top {
	padding: 6% 0 6%;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
}
.about-grid {
	width: 31.33%;
	float: left;
}
.about-grid a {
	text-decoration: none;
}
.about-grid img {
	margin-bottom: 10px;
}
.about-grid h3 {
	font-family: 'Oswald', sans-serif;
	font-size:1.4em;
	margin-bottom: 4%;
	line-height: 2em;
	text-transform: uppercase;
	color: #555;
}
.about-grid span {
	color: #777;
	font-size: 1em;
	padding: 20px 0 10px 0;
	line-height: 1.5em;
	display: block;
	text-transform: uppercase;
}
.about-grid p {
	color: #888;
	font-size:1em;
	line-height: 1.5em;
}
.center-grid label {
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	color:#3c4a50;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.center-grid p {
	padding: 0 0 20px 0;
}
.center-grid {
	margin: 0 3%;
}

+
.food-place {
	padding-bottom: 10px;
}
/*--//about--*/

/*--contact--*/
.map img {
    padding-left: 80px;
}

/*--user profile--*/
.container ol li {
	text-decoration: none;
}
.container {
	padding-top: 50px;
}
.profile-header {
	width: 500px;
}
.profile-header ol li {
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #CCCCCC;
    font-size: 20px;
}
.profile-header ol li a {
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #CCCCCC;
    font-size: 25px;
}
.profile-header ol li a :hover {
    color: #506B7B;
}
/*--form box for contact, login and register--*/
.form-box {
	margin: 80px;
}
.form-box p {
	color:#506B7B;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}
/*--//form box--*/

/*--blog--*/
/*--blog details--*/
.blog-posts {
	border-color: transparent;
	border-radius: 0;
}
.blog-details{
	margin-top: 80px;
}
.posts h3{
	font-weight: bold;
	margin: 30px;
	text-align: center;
}
.blogposts h3 {
	font-weight: bold;
	margin: 40px;
}
.blogposts {
	margin: 5px;
}
.blogposts img{
	margin-top: 60px;
}

/*--blog edit--*/
.edit-blog h1{
	margin: 50px;
	text-align: center;
}
/*--//blog--*/

/*--forum--*/
.subject-description {
    width: 70%;
}
.subject-list-items {
	border-left: 2px solid #506B7B;
	margin: 10px;
}
.subject-list-items:hover,
.subject-list-items:focus {
	background-color: #e6ebf0;
}
.subject-list-items p{
	padding: 0;
}
.subject-list {
	margin: 20px;
}
.jumbotron {
	text-align: center;
}
.thead-inverse {
	background-color: #303030;
}
.thead-inverse tr th,
.thead-inverse tr th h3 a{
	color: #fff;
}
.thread {
	padding: 15px;
}
/*--forum post--*/
.post-intro {
		padding-top: 1%;
		padding-right: 5%;
		padding-bottom: 1%;
}
.post-intro table {
		margin-top: 10%;
}
.post-intro p {
		margin-top: 10%;
}
.post-intro section ul {
		line-height: 20%;
}
.post-intro section {
		margin-top: 12%;
}
.post {
		margin-top: 2%;
		padding: 4%;
		background-color: #fbfbfb;
		border-left: 2px solid #42586e;
		text-align: justify;
	}
/*--//forum post--*/
/*--//forum--*/

/*--products--*/
/*--products-top--*/
.products-top {
	background: #303030;
}
.products-top h2 {
	font-size: 40px;
	margin-bottom: 20px;
	color: #FFF;
	text-align: center;
}
.products-top h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 100;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
	color: #FFF;
	width: 73%;
	margin: 0 auto 50px;
	text-align: center;
}
.products-top-grid-1 h3 {
	text-align: left;
	margin-bottom: 30px;
	color: #FFF;
	font-size: 25px;
}
.products-top-grid-1 p {
	font-size: 17px;
	font-weight: 300;
	line-height: 30px;
	color: #EEE;
	padding-right: 75px;
	margin-bottom: 75px;
}
.products-top-grid-2 h3 {
	text-align: left;
	margin-bottom: 10px;
	color: #FFF;
	font-size: 18px;
}
.products-top-grid-2 p {
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	color: #EEE;
	padding-right: 0;
	margin-bottom: 30px;
}
.products-top-grid-2 p.bottom-p {
	margin-bottom: 0;
}

/*--products table--*/
.products-table {
    padding: 1% 4%;
    margin-top: 6%;
    margin-bottom: 5%;
}
.products-name {
    width: 10%;
}

.products-description {
    width: 50%;
}

.products-price {
    width: 5%;
}

.products-purchase {
    width: 15%;
}
/*--//products-top--*/
/*--products table--*/

.products-table {
		padding: 1% 4%;
		margin-top: 6%;
		margin-bottom: 5%;
}
/*--//products table--*/
/*-- //products --*/

/*--responsive--*/
@media(max-width:1440px) {
    .banner_bottom_right {
		width: 100%;
		position: initial;
	}
    .banner_bottom_left {
        width: 100%;
	}
    .about-title {
		font-size: 2.8em;
		margin-bottom: 1em;
        text-align: center;
	}
}
@media(max-width:1366px) {
	.banner_bottom_left {
		padding: 6em 6em 6em 7em;
	}
	.wrap {
		width:90%;
	}
}
@media(max-width:1280px) {  }

@media(max-width:1080px) {
	.banner {
		min-height: 300px;
	}
	.banner_bottom_left {
		padding: 4em 3em 4em 5em;
	}
	.banner_bottom_right {
		top: 36.6%;
	}
	.places-to-visit .grid figure {
		width: 32.2%;
	}
	.places-to-visit figure.effect-zoe h4 {
		margin-top: 3.25em;
		font-size: 30px;
	}
    .products-top {
		padding: 75px 0;
	}
	.products-top h4 {
		font-size: 17px;
		width: 81%;
		margin-bottom: 40px;
	}
	.products-top-grid-1 p {
		font-size: 16px;
	}
	.products-top-grid-2 h3 {
		margin-bottom: 7px;
	}
	.products-top-grid-2 p {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 25px;
	}
}
@media(max-width:1050px) {
	.slider-info h3 {
		font-size: 2.5em;
		line-height: 1.5em;
	}
	.banner_bottom_left h3 {
		font-size: 1.3em;
		line-height: 33px;
		margin-bottom: 0.5em;
	}
}
@media(max-width:1024px) {
	.places-to-visit figure.effect-zoe h4 {
		margin-top: 3.3em;
	}
	.footer h4 {
    font-size: 1.5em;
	}
	.footer p {
    font-size: 0.85em;
	}
	.about-grid h3 {
		font-size: 1.7em;
	}
	.about-grid span {
		font-size: 0.89em;
	}
	.about-grid p {
		font-size: 0.97em;
	}
}
@media(max-width:991px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-left: 1em;
	}
	.slider-info {
		margin-top: 32%;
	}
	.slider-info h3 {
		letter-spacing: 2px;
		line-height: 1.3em;
	}
	.about-title {
		font-size: 2.5em;
		margin-bottom: 0.8em;
	}
	.banner_bottom_right {
		width: 100%;
		position: initial;
	}
	.banner {
		min-height: 350px;
	}
	.banner_bottom_left {
		padding: 4.2em 3em;
	}
	.about {
		padding-bottom: 0!important;
	}
	.places-to-visit figure.effect-zoe h4 {
		font-size: 28px;
	}
	.footer-left,.footer-middle,.footer-right {
    float: left;
    width: 33.33%;
    }
	.products-top-grid-1, .products-top-grid-2 {
		width: 50%;
		float: left;
		padding: 0;
	}
	.products-top h4 {
		width: 83%;
	}
}
@media(max-width:900px) {
	.places-to-visit .grid figure {
		width: 32.1%;
		height: 100%;
	}
    .products-top h4 {
		width: 89%;
	}
    .navbar-header a {
		font-size: 1.2em;
	}
    map img {
        padding-top: 30px;
    }
}
@media(max-width:800px) {
	.slider-info h3 {
		font-size: 2.3em;
	}
	.slider-info {
		margin-top: 28%;
	}
	.about-title {
		font-size: 2.3em;
	}
	.banner_bottom_left {
		padding: 3.5em 2em;
	}
	.places-to-visit .grid figure {
		width: 32%;
		height: 100%;
	}
	.places-to-visit figure.effect-zoe h4 {
		font-size: 26px;
	}
	.about-grid h3 {
		font-size: 1.7em;
	}
	.about-grid span {
		font-size: 0.89em;
	}
	.about-grid p {
		font-size: 0.97em;
	}
	.products-top h4 {
		width: 100%;
	}
    .posts h3 {
        font-size: 2.7em;
    }
	.navbar-header a{
		font-size: 0.3em;
	}
}
@media(max-width:768px) {
	.places-to-visit {
		padding: 50px 0;
	}
	.places-to-visit h3 {
		font-size: 35px;
		margin-bottom: 35px;
	}
	.places-to-visit .grid figure {
		margin: 4px;
	}
	.places-to-visit figure.effect-zoe h4 {
		margin-top: 3em;
	}
	.about-grid h3 {
		font-size: 1.7em;
	}
	.about-grid span {
		font-size: 0.89em;
	}
	.about-grid p {
		font-size: 0.97em;
	}
    .products-top {
		padding: 50px 0;
	}
	.products-top h2 {
		font-size: 35px;
	}
	.products-top h4 {
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 30px;
	}
	.products-top-grid-1, .products-top-grid-2 {
		width: 100%;
	}
	.products-top-grid-1 h3 {
		margin-bottom: 10px;
	}
	.products-top-grid-1 p {
		font-size: 15px;
		padding: 0;
		line-height: 25px;
		margin-bottom: 15px;
	}
	.products-top-grid-2 {
		margin-top: 40px;
	}
	.products-top-grid-2 h3 {
		margin-bottom: 10px;
		font-size: 20px;
	}
    .navbar-header a {
		font-size: 1em;
	}
    .blogposts h3 {
        font-size: 1.7em;
        margin: 15px;
        text-align: center;
    }
    .contact-right legend p {
        font-size: 0.9em;
        padding: 10px;
    }
	.item img {
		height: 50%;
	}
}
@media(max-width:767px) {
	.navbar-collapse.in {
		overflow-y: hidden;
		width: 100%;
	}
	.navbar-collapse.in {
		width: 100%;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: rgba(255, 253, 253, 0.42);
	}
	.navbar-default .navbar-toggle {
		border-color: #ee4f4f;
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 2px;
		margin-right: 46px;
		margin-bottom: 0;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
	}
}
@media(max-width:736px) {
	.slider-info h3 {
		letter-spacing: 1px;
	}
	.slider-info p {
		padding: 0;
	}
	.places-to-visit figure.effect-zoe h4 {
		margin-top: 2.8em;
	}
	.footer-left, .footer-middle, .footer-right {
    float: left;
    width: 100%;
    margin-bottom: 2em;
	}
	.footer {
    padding: 2em 0 1em;
	}
	.footer h4 {
    font-size: 1.4em;
	}
    .products-top h4 {
		width: 80%;
		line-height: 25px;
	}
    .map img {
        margin-left: 35px;
    }
    .contact-right legend p {
        font-size: 1.5em;
    }
}
@media(max-width:667px) {
	.slider-info h3 {
		font-size: 2em;
		line-height: 1.4em;
	}
	.banner_bottom_left {
		padding: 3em 2em;
	}
	.about-title {
		margin-bottom: 0.7em;
	}
	.places-to-visit figure.effect-zoe h4 {
		margin-top: 2.5em;
	}
}

@media(max-width:640px) {
	.places-to-visit h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.about-grid h3 {
		font-size: 1.5em;
        text-align: center;
        padding: 10px;
	}
	.about-grid span {
		font-size: 0.89em;
	}
	.about-grid p {
		font-size: 0.97em;
	}

	.about-grid {
		width: 100%;
		float: none;
	}
	.center-grid {
		float: none;
		width: 100%;
	}
	.places-to-visit .grid figure img {
		padding: 5px 0;
	}
    .about-title {
		font-size: 1.5em;
		margin-bottom: 0.8em;
        text-align: center;
        padding-top: 0;
	}
    .products-top h2 {
		font-size: 30px;
	}
}
@media(max-width:600px) {
	.slider-info h3 {
		font-size: 1.8em;
	}
	.slider-info {
		margin-top: 32%;
	}
	p.para-agileits {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.places-to-visit .grid figure {
		margin: 3px;
	}
	.places-to-visit figure.effect-zoe h4 {
		font-size: 22px;
	}
    .map img {
    padding-left: 20px;
    }
}
@media(max-width:568px) {
	.about-title {
		font-size: 2.1em;
	}
	.banner_bottom_left {
		padding: 2.5em 2em;
	}
	.places-to-visit .grid figure {
		margin: 0;
		width: 33.3%;
	}
    .products-top {
		padding: 35px 0;
	}
	.products-top h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.products-top h4 {
		width: 95%;
		font-size: 15px;
		line-height: 23px;
	}
	.products-top-grid-1 h3 {
		font-size: 20px;
	}
	.products-top-grid-1 p {
		font-size: 14px;
		line-height: 23px;
		margin-bottom: 10px;
	}
    .products-top-grid-2 {
		margin-top: 25px;
	}
	.products-top-grid-2 h3 {
		margin-bottom: 5px;
	}
	.products-top-grid-2 p {
		margin-bottom: 20px;
	}
}
@media(max-width:480px) {

	.slider-info {
		margin-top: 43%;
	}

	.slider-info h3 {
		font-size: 1.5em;
	}

	.slider-info p {
		letter-spacing: 1px;
	}

	.banner {
		min-height: 240px;
	}

	.banner_bottom_left h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}

	.about-title {
		font-size: 2em;
		letter-spacing: 1px;
        text-align: center;
	}

	.places-to-visit figure.effect-zoe h4 {
		margin-top: 2em;
		font-size: 0.6em;
	}

	.wrap {
		width: 90%;
	}

	.about-grid h3 {
		font-size: 1.3em;
	}

	.about-grid span {
		font-size: 0.89em;
	}
	.about-grid p {
		font-size: 0.97em;
	}
	.about-grid {
		width: 100%;
		float: none;
	}
	.center-grid {
		margin: 0 0;
	}
	.navbar-header a {
		font-size: 1.2em;
	}
    .blogposts h3 {
        font-size: 1.2em;
        margin: 15px;
        text-align: center;
    }
    .blogposts img {
        margin: 5px;
    }
    .posts h3 {
            font-size: 1.5em;
    }
    .posts {
        padding: 10px;
    }
	.thead-inverse h3 {
		font-size: 1.3em;
	}
}
	@media (max-width: 440px) {
		.about-title {
			line-height: 1.3em;
			margin-bottom: 0.5em;
		}
	}
	@media (max-width: 414px) {
		.slider-info h3 {
			font-size: 1.3em;
		}
		.slider-info {
			margin-top: 50.3%;
		}

		.places-to-visit figure.effect-zoe h4 {
			margin-top: 2.8em;
		}
		.footer h4 {
			font-size: 1.3em;
		}
        .map img {
            margin: 0;
            padding-left: 0;
        }
        .contact-right legend p {
            font-size: 1em;
        }
	}
	@media (max-width: 384px) {
		.slider-info h3 {
			font-size: 1.2em;
		}

		.slider-info {
			margin-top: 56.3%;
		}

		.banner_bottom_left {
			padding: 2em 1em;
		}

		.places-to-visit .grid figure {
			width: 100%;
		}

		.places-to-visit figure.effect-zoe h4 {
			margin-top: 5.5em;
		}
        .products-top h2 {
		font-size: 25px;
	    }
	    .products-top h4 {
		    width: 100%;
		    font-size: 14px;
		    line-height: 22px;
	    }
        .posts h3 {
            font-size: 1.2em;
        }
        .posts {
            padding: 10px;
        }
	}
	@media (max-width: 375px) {
		.slider-info h3 {
			line-height: 1.5em;
		}
		.agile-b-wrapper h5 {
			line-height: 2.35em;
		}
	}
	@media (max-width: 320px) {
		.slider-info {
			margin-top: 81.3%;
		}
		.slider-info p {
			letter-spacing: 1px;
			line-height: 23px;
			margin: 0;
		}
		.slider-info h3 {
			font-size: 1em;
			letter-spacing: 0;
		}
		.places-to-visit figure.effect-zoe h4 {
			margin-top: 4.5em;
		}
		.footer-left, .footer-middle, .footer-right {
			padding: 0;
		}
		.about-grid h3 {
			font-size: 1.7em;
		}
		.about-grid span {
			font-size: 0.89em;
		}
		.about-grid p {
			font-size: 0.97em;
		}
		.about-grid {
			width: 100%;
			float: none;
		}
		.center-grid {
			margin: 0 0;
		}
		.center-grid {
			margin: 0 0;
		}
	}

/*--responsive--*/

