{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

    <div class="container profile-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="active" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">My Profile</li>
        </ol>

        <div class="row">
            <div class="col-sm-5">
                <a class="story-img" href="#">
                    {% if not user.user_prof_pic %}
                        <img class="post-img img-circle" src="http://placehold.it/100">
                    {% else %}
                        <img src="/{{ user.user_prof_pic }}" height="70px" width="70px">
                    {% endif %}
                </a>
            </div>
            <div class="col-sm-7">
                <p><strong>Username: </strong>{{ user.username }}</p>
                <p><strong>Email address: </strong>{{ user.email }}</p>
                <p><a href="{% url 'password_reset' %}"><i class="fa fa-lock" aria-hidden="true"></i>
                    Reset my password</a></p>
            </div>
        </div>
    </div>

{% endblock %}
