{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
</script>
<script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="basic-box form-box">
        <div class="row">
            <div class="col-sm-4"></div>
                <div class="name col-sm-4">
                    <form role="form" method="post" id="register-form" action="{% url 'register' %}" enctype="multipart/form-data">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        <legend>
                            <p>Create a new account</p>
                        </legend>
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-primary" value="Register">
                        </div>
                    </form>
                </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
{% endblock %}