{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
    <script src="{% static 'vendors/js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinyMCE.init({
            mode: "textareas",
            theme: "modern",
            plugins: "paste"
        });
    </script>

{% endblock %}
{% block content %}
<div class="container">
    <section class="row ">
        <form method="post" action="{{ form_action }}">
            {% csrf_token %}
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {{ form | as_bootstrap }}
                <div class=" row buttons-form">
                    <div class="col-sm-6 form-group">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </form>
    </section>

</div>
<div class="clearfix"></div>
{% endblock %}